body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:509px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:590px;
}
#u1114 {
  position:absolute;
  left:0px;
  top:0px;
  width:509px;
  height:590px;
}
#u1115 {
  position:absolute;
  left:2px;
  top:287px;
  width:505px;
  visibility:hidden;
  word-wrap:break-word;
}
