body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1205px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1205px;
  height:406px;
}
#u827 {
  position:absolute;
  left:0px;
  top:0px;
  width:1205px;
  height:406px;
}
#u828 {
  position:absolute;
  left:2px;
  top:195px;
  width:1201px;
  visibility:hidden;
  word-wrap:break-word;
}
