body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:450px;
  background:inherit;
  background-color:rgba(94, 94, 94, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u182 {
  position:absolute;
  left:0px;
  top:25px;
  width:800px;
  height:450px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u183 {
  position:absolute;
  left:2px;
  top:217px;
  width:796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:800px;
  height:25px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u185 {
  position:absolute;
  left:2px;
  top:3px;
  width:796px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u187_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:18px;
  height:6px;
}
#u187 {
  position:absolute;
  left:720px;
  top:12px;
  width:15px;
  height:3px;
}
#u188 {
  position:absolute;
  left:2px;
  top:-6px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u189 {
  position:absolute;
  left:754px;
  top:5px;
  width:13px;
  height:13px;
}
#u190 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_div {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u191 {
  position:absolute;
  left:750px;
  top:8px;
  width:13px;
  height:13px;
}
#u192 {
  position:absolute;
  left:2px;
  top:-2px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:19px;
  height:6px;
}
#u193 {
  position:absolute;
  left:779px;
  top:12px;
  width:16px;
  height:3px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u194 {
  position:absolute;
  left:2px;
  top:-6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:19px;
  height:6px;
}
#u195 {
  position:absolute;
  left:779px;
  top:12px;
  width:16px;
  height:3px;
  -webkit-transform:rotate(135deg);
  -moz-transform:rotate(135deg);
  -ms-transform:rotate(135deg);
  transform:rotate(135deg);
}
#u196 {
  position:absolute;
  left:2px;
  top:-6px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u197 {
  position:absolute;
  left:10px;
  top:36px;
  width:25px;
  height:17px;
}
#u198 {
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u199 {
  position:absolute;
  left:10px;
  top:124px;
  width:25px;
  height:23px;
}
#u200 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u201 {
  position:absolute;
  left:10px;
  top:430px;
  width:25px;
  height:25px;
}
#u202 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u203 {
  position:absolute;
  left:10px;
  top:80px;
  width:25px;
  height:22px;
  color:#FFFFFF;
}
#u204 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:755px;
  height:450px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u205 {
  position:absolute;
  left:45px;
  top:25px;
  width:755px;
  height:450px;
}
#u206 {
  position:absolute;
  left:2px;
  top:217px;
  width:751px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u208_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:450px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.866666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u208 {
  position:absolute;
  left:45px;
  top:25px;
  width:135px;
  height:450px;
}
#u209 {
  position:absolute;
  left:2px;
  top:217px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u210_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u210 {
  position:absolute;
  left:98px;
  top:36px;
  width:30px;
  height:19px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u211 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:39px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u212 {
  position:absolute;
  left:79px;
  top:85px;
  width:69px;
  height:39px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u213 {
  position:absolute;
  left:0px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u214 {
  position:absolute;
  left:89px;
  top:124px;
  width:49px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u215 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:39px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u216 {
  position:absolute;
  left:79px;
  top:150px;
  width:69px;
  height:39px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u217 {
  position:absolute;
  left:0px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u218_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u218 {
  position:absolute;
  left:89px;
  top:189px;
  width:49px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:39px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u220 {
  position:absolute;
  left:79px;
  top:215px;
  width:69px;
  height:39px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u221 {
  position:absolute;
  left:0px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u222_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u222 {
  position:absolute;
  left:89px;
  top:254px;
  width:49px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:39px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u224 {
  position:absolute;
  left:79px;
  top:280px;
  width:69px;
  height:39px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u225 {
  position:absolute;
  left:0px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u226_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u226 {
  position:absolute;
  left:89px;
  top:319px;
  width:49px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u227 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:39px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u228 {
  position:absolute;
  left:79px;
  top:345px;
  width:69px;
  height:39px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u229 {
  position:absolute;
  left:0px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u230 {
  position:absolute;
  left:89px;
  top:384px;
  width:49px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u231 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u232_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:39px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u232 {
  position:absolute;
  left:79px;
  top:410px;
  width:69px;
  height:39px;
  font-family:'FontAwesome Regular', 'FontAwesome';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  line-height:20px;
}
#u233 {
  position:absolute;
  left:0px;
  top:10px;
  width:69px;
  word-wrap:break-word;
}
#u234_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u234 {
  position:absolute;
  left:89px;
  top:449px;
  width:49px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u235 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:2px;
}
#u236 {
  position:absolute;
  left:61px;
  top:65px;
  width:105px;
  height:1px;
}
#u237 {
  position:absolute;
  left:2px;
  top:-8px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u238_div {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:450px;
  background:-webkit-linear-gradient(270deg, rgba(102, 102, 102, 1) 0%, rgba(102, 102, 102, 1) 49%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(102, 102, 102, 1) 0%, rgba(102, 102, 102, 1) 49%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  background:linear-gradient(180deg, rgba(102, 102, 102, 1) 0%, rgba(102, 102, 102, 1) 49%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u238 {
  position:absolute;
  left:180px;
  top:25px;
  width:620px;
  height:450px;
}
#u239 {
  position:absolute;
  left:2px;
  top:217px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u240 {
  position:absolute;
  left:10px;
  top:164px;
  width:25px;
  height:25px;
}
#u241 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:410px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u242 {
  position:absolute;
  left:180px;
  top:25px;
  width:620px;
  height:410px;
}
#u243 {
  position:absolute;
  left:2px;
  top:197px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
  line-height:20px;
}
#u245 {
  position:absolute;
  left:421px;
  top:235px;
  width:140px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#F2F2F2;
  line-height:20px;
}
#u246 {
  position:absolute;
  left:15px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u247 {
  position:absolute;
  left:471px;
  top:195px;
  width:40px;
  height:40px;
}
#u248 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
  line-height:20px;
}
#u249 {
  position:absolute;
  left:421px;
  top:25px;
  width:140px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
  line-height:20px;
}
#u250 {
  position:absolute;
  left:15px;
  top:10px;
  width:110px;
  word-wrap:break-word;
}
#u251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 0.866666666666667);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u251 {
  position:absolute;
  left:180px;
  top:435px;
  width:620px;
  height:40px;
}
#u252 {
  position:absolute;
  left:2px;
  top:12px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:20px;
}
#u253 {
  position:absolute;
  left:665px;
  top:446px;
  width:27px;
  height:20px;
}
#u254 {
  position:absolute;
  left:2px;
  top:2px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u255 {
  position:absolute;
  left:704px;
  top:446px;
  width:20px;
  height:20px;
}
#u256 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u257 {
  position:absolute;
  left:735px;
  top:445px;
  width:20px;
  height:20px;
}
#u258 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u259 {
  position:absolute;
  left:190px;
  top:445px;
  width:22px;
  height:20px;
}
#u260 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u261 {
  position:absolute;
  left:767px;
  top:445px;
  width:24px;
  height:20px;
}
#u262 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:50px;
  background:inherit;
  background-color:rgba(148, 148, 148, 0.419607843137255);
  box-sizing:border-box;
  border-width:5px;
  border-style:solid;
  border-color:rgba(255, 51, 51, 1);
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u263 {
  position:absolute;
  left:0px;
  top:63px;
  width:45px;
  height:50px;
}
#u264 {
  position:absolute;
  left:2px;
  top:17px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
